@font-face{
	font-family:'digital-clock-font';
	src: url('font.ttf');
}

p {
	-webkit-text-stroke: 0.8px #9e64e3; 
}

div {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0 !important;
	top: 0 !important;
	z-index: 1;
	background-image: url("black.jpg");
}

img {
	margin: auto;
	margin-top: 200px;
	z-index: 1;
}

#start {
	position: absolute;
	top: 350px;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 22px;
	font-family: digital-clock-font;
	-webkit-text-stroke: 0.8px #9e64e3; 
}

#game {
	display: none;
	position: absolute;
	left: 20px;
	top: 20px;
	text-align: center;
	margin: 0;
	z-index: 1;
	color: #ffffff;
	font-size: 50px;
	font-family: digital-clock-font;
	-webkit-text-stroke: 0.8px #9e64e3; 
}

.emphasize {
	font-size: 28px;
	color: #9e64e3;
}

