<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Cat Dash</title>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
    	<div id='start'><img id="gif" src='loading.gif'></div>
    	<p id = 'game'><span id='text'>Score</span> <span id='score'>0</span></p>
    </body>

    <script type="text/javascript">
    	setTimeout(loading, 1800);
    	function loading() {
            var game = document.getElementById("game");
            var start = document.getElementById("start");
  			start.style.display = 'none';
  			game.style.display = 'block';
		}
	</script>
</html>